<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
<style>
        body{
            width:100%;
            height: 100%;
            margin:0;
            padding: 0;
        }
        #container{
            width:50%;
            height:50%;
            margin:0;
            padding:0;
            align-content: center;
        }
        
    </style>
    <title>Word Cloud!</title>
</head>
<body>
    <div id="container"></div>
    <script src="../assets/js/index.js">
    </script>
</body>
</html>